
html, body {
  margin: 0;
  padding: 0;
}

 @font-face {
  font-family: myFont;
  src:url("../font/helsinki-webfont.woff")
} 

body {
  background-color: #FFDEAD;
  font-family: myFont; 
  margin: 40px; 
  line-height: 1.25;
}

.changeTextColor {
  color: white;
  background-color: black;
  text-decoration: none;
}

.errorMessage {
  color: white;
  background-color: red;
  text-align: center;
}

.test {
  color: white;
  background-color: silver;
}

/* -----------------------------------NAVBAR */

.navbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 4px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: right;
}

.versionLoggedIn {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  max-width: 25px;
  height: auto;
}

/* -----------------------------------HOMEPAGE */

.titleHomepage {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 40px;
  max-width: fit-content;
  margin-top: 55px;
}

.welcomeTextHomepage {
  transform: rotate(350deg);
  margin-top: 60px;
}

.pngBrain {
  padding-left: 50px;
  margin-top: 20px;
}

.firstContainerHomepage {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  flex-wrap: wrap;
  
}

.arrowOneHomepage {
  width: 70px;
  transform: rotate(270deg);
  margin-bottom: 40px;
}

.whatIsThisButton {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  max-width: fit-content;
  text-align: center;
  align-self: center; /* das macht meine Schrift mittig im whatisthisbutton obwohl ich das bisher gar nicht bemerkt habe lol */
}

.secondContainerHomepage {
  display: flex;
  justify-content: space-around;
}

.arrowTwoHomepage {
  max-width: 120px;
  transform: rotate(330deg);
}

.memberTextHomepage {
  transform: rotate(350deg);
  max-width: 200px;
  margin-top: 20px;
}

.rememberSignUp {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 50px;
  margin-top: 10px;
} 

/* -----------------------------------SIGNUP & LOGIN PAGE */

.containerSignupAndLogin {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.containerSignupAndLogin > form {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  
}

.containerSignupAndLogin > form > input {
  border-radius: 40px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signupOrLoginButton {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
  align-self: center;
  margin-top: 20px;
}

.alreadyUserOrNeedSignupText {
  font-size: 20px;
  margin-top: 30px;
}
