
html, body {
  margin: 0;
  padding: 0;
}

 @font-face {
  font-family: myFont;
  src:url("../font/helsinki-webfont.woff")
} 

* {
  box-sizing: content-box; /* overriding bs */
}

body {
  background-color: #FFDEAD;
  font-family: myFont; 
  margin: 40px; 
  line-height: 1.25;
  color: black
}

h1 {
  font-size: 35px; /* overriding bs */
}

.changeTextColor {
  color: white;
  background-color: black;
  text-decoration: none;
  display: inline-block;
}

.errorMessage {
  color: white;
  background-color: red;
  text-align: center;
}

.dropdown-item {
  width: unset;
  --bs-dropdown-link-active-bg: none;
}

/* -----------------------------------NAVBAR */

.navbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 4px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: right;
}

.versionNotLoggedIn {
  display: flex;
  justify-content: flex-end;
}

.versionLoggedIn {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-hover-bg: none;
}

.menuIcon > img {
  max-width: 25px;
  height: auto;
}

/* -----------------------------------HOMEPAGE */

.titleHomepage {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 40px;
  max-width: fit-content;
  margin-top: 60px;
}

.welcomeTextHomepage {
  transform: rotate(350deg);
  margin-top: 60px;
  font-size: 30px;
}

.pngBrain {
  padding-left: 50px;
  margin-top: 20px;
}

.firstContainerHomepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.arrowOneHomepage {
  max-width: 80px;
  transform: rotate(270deg);
  margin-bottom: 40px;
  margin-top: 10px;
}

.buttonsHomepage {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
}

.extraWhatIsThis {
  margin-top: 60px;
}

.arrowTwoHomepage {
  max-width: 120px;
  transform: rotate(330deg);
}

.memberTextHomepage {
  transform: rotate(350deg);
  max-width: 200px;
  margin-top: 20px;
}

.extraSignup {
  margin-left: 50px;
  margin-top: 30px;
} 

/* -----------------------------------WHAT IS THIS? PAGE */

.whatIsThisText {
  text-align: center;
  margin-top: 60px;
}

.whatIsThisText > p {
  line-height: 1.5;
  margin-top: 40px;
  font-size: 18px;
}

/* -----------------------------------SIGNUP & LOGIN PAGE */

.containerSignupAndLogin {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.containerSignupAndLogin > form {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  
}

.containerSignupAndLogin > form > input {
  border-radius: 40px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signupOrLoginButton {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
  align-self: center;
  margin-top: 20px;
}

.alreadyUserOrNeedSignupText {
  font-size: 20px;
  margin-top: 30px;
}

/* -----------------------------------PROFILE PAGE */
.firstContainerProfile {
  text-align: center;
  margin-top: 60px;
}

.username {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.questionProfile {
  font-size: 30px;
}

.secondContainerProfile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.profileImages {
  max-width: 130px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
}

.brainImage {
  max-width: 170px;
}

.buttonsProfile {
max-width: 80px;
margin-bottom: 40px;
margin-top: 10px; 
padding: 15px;
margin-left: 10px;
margin-right: 25px;
}

.addButton {
  margin-top: 40px;
}

/* -----------------------------------ADD MEMORY PAGE */

.headerAddNewStuff {
  margin-top: 60px;
  text-align: center;
}

.containerAddStuff {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 19px;
}

.containerAddStuff > label {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.btn-primary {
  --bs-btn-color: black;
  --bs-btn-padding-y: none;
  margin-top: 15px;
}
.categoryContainer {
  display: flex;
  margin-top: 15px;
}

.categoryContainer > label {
  position: relative;
  left: 60px;
  margin-top: 10px;
  max-width: fit-content;
  align-self: center;
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 40px;
}

.containerAddStuff > input {
  border-radius: 40px;
  border: none;
  margin-top: 10px;
  padding: 5px 15px;
}

.containerAddStuff > button {
  align-self: center;
  margin-top: 40px;
}

.containerAddStuff > textarea {
  border-radius: 40px;
  border: none;
  margin-top: 10px;
  padding: 5px 15px;
}

.inputCategoryAddStuff {
  border-radius: 40px;
}

.categoryAddStuff {
  font-size: 19px;
}

.containerField {
  width: 80px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerParent {
  margin-top: 35px;
  margin-left: 40px;
  padding: 10px;
  background:#FFDEAD;
}

.containerUploadPicture {
  text-align: center;
  border: 3px dashed;
  padding: 11px;
  position: relative;
  cursor: pointer;
}

.uploadPicture {
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.clickUploadText {
  margin-top: 4px;
  margin-bottom: 4px;
}

.containerFieldAndUploadText{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeItText {
  margin-top: 20px;
}

.extraCategoryAdd {
  font-size: 19px;
}

/* -----------------------------------EDIT STUFF FROM MEMORY PAGE */
/* -----------------------------------MOSTLY USED ADD STUFF CSS */

.editPictureDisplay {
  max-width: 120px;
  max-height: 120px;
}

.containerButtonsEdit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  font-size: 5px;
  align-items: center;
}

.singleButtonsEdit {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}

/* -----------------------------------DETAILS ONE STUFF FROM MEMORY PAGE */
/* -----------------------------------MOSTLY USED ADD STUFF CSS */

.headerDetailsStuff {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.displayCategory {
  position: relative;
  left: 60px;
  margin-top: 0px;
  max-width: fit-content;
  align-self: center;
  background-color: black;
  color: white;
  padding: 5px 15px;
  border-radius: 40px;
}

.extraCategoryDetails {
  align-self: center;
}

.borderForText {
  border-color: black;
  border: 2px dashed;
  padding: 5px;
  margin-top: 10px;
}

.linksDetails {
  margin-top: 15px;
}

.linksDetails > a {
  color: white;
  text-decoration: none;
  background-color: black;
}

.imageDetails {
  max-width: 250px;
  max-height: 250px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.extraLabelDetails {
  margin-top: 15px;
}

/* -----------------------------------MEMORY LIST PAGE */

.extraButtonList {
  margin-top: 30px;
}

.headerListAddNewStuff {
  margin-top: 30px;
  text-align: center;
}

.containerMemoryList {
  border-color: black;
  border: 2px dashed;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.linkStyleList {
  text-decoration: none;
  color: black;
  vertical-align: center;
}

.showMeLink {
  text-decoration: none;
  max-width: fit-content;
}
