
html, body {
  margin: 0;
  padding: 0;
}

 @font-face {
  font-family: myFont;
  src:url("../font/helsinki-webfont.woff")
} 

* {
  box-sizing: content-box; /* overriding bs */
}

body {
  background-color: #FFDEAD;
  font-family: myFont; 
  margin: 40px; 
  line-height: 1.25;
  color: black
}

h1 {
  font-size: 35px; /* overriding bs */
}

.changeTextColor {
  color: white;
  background-color: black;
  text-decoration: none;
}

.errorMessage {
  color: white;
  background-color: red;
  text-align: center;
}

.test {
  color: white;
  background-color: silver;
}

/* -----------------------------------NAVBAR */

.navbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 4px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: right;
}

.versionNotLoggedIn {
  display: flex;
  justify-content: flex-end;
}

.versionLoggedIn {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-active-bg: none;
}

.menuIcon > img {
  max-width: 25px;
  height: auto;
}

/* -----------------------------------HOMEPAGE */

.titleHomepage {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 40px;
  max-width: fit-content;
  margin-top: 60px;
}

.welcomeTextHomepage {
  transform: rotate(350deg);
  margin-top: 60px;
  font-size: 30px;
}

.pngBrain {
  padding-left: 50px;
  margin-top: 20px;
}

.firstContainerHomepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.arrowOneHomepage {
  max-width: 80px;
  transform: rotate(270deg);
  margin-bottom: 40px;
  margin-top: 10px;
}

.buttonsHomepage {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
}

.extraWhatIsThis {
  margin-top: 60px;
}

.arrowTwoHomepage {
  max-width: 120px;
  transform: rotate(330deg);
}

.memberTextHomepage {
  transform: rotate(350deg);
  max-width: 200px;
  margin-top: 20px;

}

.extraSignup {
  margin-left: 50px;
  margin-top: 30px;
} 

/* -----------------------------------WHAT IS THIS? PAGE */

.whatIsThisText {
  text-align: center;
  margin-top: 60px;
}

.whatIsThisText > p {
  line-height: 1.5;
  margin-top: 40px;
  font-size: 18px;
}

/* -----------------------------------SIGNUP & LOGIN PAGE */

.containerSignupAndLogin {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.containerSignupAndLogin > form {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  
}

.containerSignupAndLogin > form > input {
  border-radius: 40px;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signupOrLoginButton {
  border-radius: 40px;
  border: none;
  font-family: myFont; 
  font-size: 20px;
  max-width: fit-content;
  background-color: black;
  color: white;
  padding: 10px;
  align-self: center;
  margin-top: 20px;
}

.alreadyUserOrNeedSignupText {
  font-size: 20px;
  margin-top: 30px;
}

/* -----------------------------------ADD MEMORY PAGE */

.dropdown-item {
  width: unset;
}
